# OS
.DS_Store

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.env
backend/venv

# Node/Next.js
node_modules/
.next/
out/
*.log
frontend/.env.local

# Build/cache
.dist/
dist/
coverage/
.coverage
.pytest_cache/

# Docker
pgdata

#PRD
PRD.ipynb
10min_AI_Daily_Full_PRD.md
Harry_Knowledge_Graph_PRD.md